
/* DEBUGGING */
/** {*/
    /*border: 1px solid red !important;*/
/*}*/


/*============================================ CAROUSEL FORMATTING ============================================*/

.carousel .carousel-control {
    width: 50%;
}

.carousel .carousel-control.left, .carousel .carousel-control.right {
    background-image: none;
}

.carousel .carousel-control .material-icons,
.carousel .carousel-control .fa {
    display: none;
}

.carousel .carousel-indicators {
    bottom: 5px;
}

#title-carousel.carousel .carousel-indicators {
    bottom: 30px;
}

.carousel .carousel-indicators li,
.carousel .carousel-indicators .active {
    margin: 11px 10px;
}

.carousel .carousel-indicators li {
    background: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.carousel .carousel-indicators .active {
    margin-top: 10px;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.carousel .carousel-caption .material-icons {
    position: relative;
    top: 5px;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .three .item.next,
    .three .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0);
    }

    .three .item.prev,
    .three .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0);
    }
}

.three-carousel .carousel-inner {
    height: 420px;
}

.three-carousel .item {
    overflow-y: hidden;
}


.title-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#threeCarousel {
    background-color: #3e3e3b;
}

.carouselViewWindow {
    margin-top: 30px;
}


/*============================================ CONTACTUS1.PHP ========================================================*/


#mailerForm {
    width: 100%;
    padding: 20px;
    background-color: #3e3e3b;
}

.contactUsText {
    color: ghostwhite;
}

.contactUsContainer {
    margin-bottom: 20px;
}

#contactIcon1 {
    width: 30px;
}

#contactIcon2 {
    width: 30px;
}

/*============================================ EVENTS.PHP ========================================================*/

.event {
    background: #f6f6f6;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.event:hover {
    background: #fafafa;
}

.text-white {
    color: #fff !important;
}
.img-fullwidth {
    width: 100%;
}

.btn-dark {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

.eventSection{
    color: ghostwhite;
    padding: 20px;
    background-color: #3e3e3b;
}

.font-19 {
    font-size: 19px !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.border-bottom {
    border-bottom: 1px solid #eeeeee;
}

.eventEvent{
    padding: 10px;
}

.dateThumb {
    margin: 10px;
    margin-bottom: 0 !important;
}

/*============================================ FAQ.PHP ========================================================*/


#faq {
    background-color: ghostwhite;
    text-align: center;
    color: #3E3E3B;
}

.faqContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

#faq hr{
    border-color: #2C3E50;
}

#faq a {
    color: #3E3E3B;
}

/*============================================ FOOTER.PHP ========================================================*/

#footer i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid #8c8c8c;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: #8c8c8c;
    transition: all 0.5s;
}


#footer i.fa:hover {
    background: #FCAC45;
    border-color: #FCAC45;
    color: #ffffff;
}

#footerTicker {
    background-color: ghostwhite;
    color: #3E3E3B;
}


#footer {
    background-color: #2C3E50;
}

#footerText{
    color: #18BC9C;
}

.copyright {
    padding-top: 16px;
}

.social-area{
    margin-top: 10px;
}

/*============================================ GALLERY.PHP ========================================================*/


.modal.carousel-fit .modal-body {
    padding: 0 !important;
}

.modal.carousel {
    position: fixed;
}

.gallery-item {
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 30%;
}

.gallery-item .hover-bg {
    position: relative;
}

.gallery1 {
    background-color: ghostwhite;
    /*width: 100%;*/
}

#gallery1 {
    background-color: ghostwhite;
}

/*============================================ NAV BAR ========================================================*/

.navbar-custom {
    background: #2C3E50;
    font-weight: 700;
    border: none
}

/*============================================ GENERAL THEME-SPECIFIC ATTRIBUTES =====================================*/


/*!
 * Start Bootstrap - Freelancer v3.3.7+1 (http://startbootstrap.com/template-overviews/freelancer)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden
}

p {
    font-size: 20px
}

p.small {
    font-size: 16px
}

a, a.active, a:active, a:focus, a:hover {
    color: #18BC9C;
    outline: 0
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

hr.star-light, hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px
}

hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em
}

.navbar-custom, header .intro-text .name {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

hr.star-light {
    border-color: #fff
}

hr.star-light:after {
    background-color: #18BC9C;
    color: #fff
}

hr.star-primary {
    border-color: #2C3E50
}

hr.star-primary:after {
    background-color: #fff;
    color: #2C3E50
}

.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:hover, .navbar-custom .navbar-nav li a, header {
    color: #fff
}

.img-centered {
    margin: 0 auto
}

header {
    text-align: center;
    background: #18BC9C
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px
}

header img {
    display: block;
    margin: 0 auto 20px
}

header .intro-text .name {
    display: block;
    font-weight: 700;
    font-size: 2em
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300
}

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px
    }

    header .intro-text .name {
        font-size: 4.75em
    }

    header .intro-text .skills {
        font-size: 1.75em
    }
}

.navbar-custom a:focus {
    outline: 0
}

.navbar-custom .navbar-nav {
    letter-spacing: 1px
}

.navbar-custom .navbar-nav li a:hover {
    color: #18BC9C;
    outline: 0
}

.navbar-custom .navbar-nav li a:active, .navbar-custom .navbar-nav li a:focus {
    color: #fff
}

.navbar-custom .navbar-nav li.active a, .navbar-custom .navbar-nav li.active a:active, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:hover {
    color: #fff;
    background: #18BC9C
}

.navbar-custom .navbar-toggle {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    border-color: #fff
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
    background-color: #18BC9C;
    color: #fff;
    border-color: #18BC9C
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-custom.affix {
        padding: 10px 0
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em
    }
}


/*============================================  =====================================*/
